.vscode/**
.vscode-test/**
out/test/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/.git/**
webview-ui/*.json
webview-ui/*.js
webview-ui/*.ts
webview-ui/tsconfig.*.json
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!media/**
